
.text{
height:175px;
width:70%;
position:fixed;
font-family:monospace;
font-size: 20px;
margin-left: 10%;
padding-left: 1px;
display: block;
resize: none;
}
#button{
    
    margin-left: 10%;
    padding-left: 30px; 
    /* //padding-top: 15%; */
    margin-top:19%;
}
button{
    font-size: 20px;
    color: rgb(70, 4, 78);
    background-color: blueviolet;
}
button:hover{
    background: rgb(47, 150, 197);
}
h1{
    align-items: center;
    text-align: center;
}
p{
    align-items: center;
    text-align: center;
    /* font-weight: bold; */
    
}
